@import 'tailwindcss';

/*---break---
 */
@custom-variant dark (&:is(.dark *));
@config "../tailwind.config.js";

/**
 * BASE
 */
@layer base {

  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block outline-none bg-transparent w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background dark:bg-dark-background text-light-onBackground dark:text-dark-onBackground;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2 rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onBackground/15 dark:bg-dark-onBackground/15;
  }
}

@theme {
  --color-light-background: #f9fafb;
  --color-light-onBackground: #111827;

  --color-dark-background: #030712;
  --color-dark-onBackground: #f9fafb;
}

@layer components {

  /**
  * Text field
  */
  .text-field-wrapper {
    @apply relative;
  }

  .text-field {
    @apply ring-1 ring-inset ring-light-outline dark:ring-dark-outline bg-inherit text-light-onSurface dark:text-dark-onSurface caret-blue-600 dark:caret-blue-400 h-14 px-4 rounded-extraSmall transition-shadow duration-short3 ease-linear hover:ring-light-onSurface hover:dark:ring-dark-onSurface focus:ring-2 focus:ring-blue-600 focus:dark:ring-blue-400;
  }

  .text-field::placeholder {
    @apply opacity-0 transition-opacity;
  }

  .text-field:focus::placeholder {
    @apply opacity-100;
  }

  .label-text {
    @apply absolute text-labelLarge top-[18px] left-2 text-light-onSurfaceVariant dark:text-dark-onSurfaceVariant bg-light-background dark:bg-dark-background px-2 pointer-events-none origin-[0] transition-all duration-short4 ease-standard;
  }

  .text-field:focus~.label-text,
  .text-field:not(:placeholder-shown)~.label-text {
    @apply text-blue-600 dark:text-blue-400 -translate-y-6 scale-75;
  }

  /**
  * Button
  */
  .btn {
    @apply h-10 px-6 rounded-full text-labelLarge flex items-center justify-center gap-2 relative overflow-hidden transition-all duration-short3 ease-standard;
  }

  .btn.filled {
    @apply bg-blue-600 dark:bg-blue-500 text-white;
  }

  .btn.outline {
    @apply border border-light-outline dark:border-dark-outline text-blue-600 dark:text-blue-400;
  }

  .btn.ghost {
    @apply text-blue-600 dark:text-blue-400;
  }

  /* State layer */
  .btn .state-layer {
    @apply absolute inset-0 bg-blue-600 dark:bg-blue-400 opacity-0 transition-opacity duration-short3 ease-standard pointer-events-none;
  }

  /* Variation specific state colors */
  .btn.outline .state-layer,
  .btn.ghost .state-layer {
    @apply bg-blue-600 dark:bg-blue-400;
  }

  /* Interactive states */
  .btn:hover .state-layer {
    @apply opacity-8;
  }

  .btn:focus-visible .state-layer {
    @apply opacity-12;
  }

  .btn:active .state-layer {
    @apply opacity-12;
  }

  .btn:disabled {
    @apply bg-light-onSurface/12 dark:bg-dark-onSurface/12 text-light-onSurface/38 dark:text-dark-onSurface/38 cursor-not-allowed pointer-events-none;
  }

  /**
  * Link
  */
  .link {
    @apply text-labelLarge font-semibold transition-colors duration-short3 ease-standard text-blue-600 dark:text-blue-400 hover:underline;
  }

  /**
  * Image
  */
  .img-box {
    @apply bg-light-surfaceContainer dark:bg-dark-surfaceContainer overflow-hidden;
  }

  .img-cover {
    @apply w-full h-full object-cover;
  }

  .img-box p {
    @apply absolute bottom-10 left-10 right-10 z-10 text-displayLarge font-semibold leading-tight text-light-onSurface dark:text-dark-onSurface;
  }
}

/*---break---
 */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/*---break---
 */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

/*---break---
 */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/*---break---
 */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}